/* MonthlyDetails.css */

.monthly-details {
  width: 100%;
  background-color: #444;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
}

.monthly-details .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.monthly-details .add-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

.monthly-details .details-list {
  max-height: 400px;
  overflow-y: auto;
}

.monthly-details .detail-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #555;
  cursor: pointer;
}

.monthly-details .detail-item:last-child {
  border-bottom: none;
}

.monthly-details .date-description {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.monthly-details .date {
  font-size: 10px;
}

.monthly-details .description {
  font-size: 14px;
  margin-top: 5px;
}

.monthly-details .amount {
  flex: 1;
  text-align: right;
  font-weight: bold;
  align-self: center;
}

.monthly-details .amount.income {
  color: green;
}

.monthly-details .amount.expense {
  color: red;
}

/* Modal styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal h3 {
  margin-top: 0;
}

.modal label {
  display: block;
  margin: 10px 0;
}

.modal input {
  width: 100%; /* 입력 필드가 전체 너비를 차지하도록 수정 */
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box; /* 패딩과 보더를 포함하여 크기를 계산 */
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border: none; /* 테두리 삭제 */
  border-radius: 10px; /* 테두리 둥글게 */
}

.modal-buttons button.add {
  background-color: #0000cd;
  color: white;
}

.modal-buttons button.cancel {
  background-color: #cd0000;
  color: white;
}
